:host {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 101;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

button {
    width: 40px;
    height: 40px;
    background-color: rgb(252, 178, 41);
    font-weight: 900;
    font-size: 30px;
    color: rgb(50,50,50);
    line-height: 40px;
    border-radius: 10px;
    margin: 20px auto;    
}

iframe {
    margin: 0 auto;
}

app-rating {
    margin-top: 20px;
    width: 40%;
}