<div id="map" leaflet [leafletOptions]="options" [leafletLayers]="markers"></div>

<div id="categories" class="categories control hidden" (mouseenter)="showCategories()" (mouseleave)="hideCategories()">
    <div id="activeCategory" class="btn" (click)="toggleCategories()">
        <img id="activeImg" src="assets/images/categories/none.png">
        <p id="activeP">None</p>
    </div>
    <div id="{{ cat.id }}" class="btn" *ngFor="let cat of categories" (click)="categorySelected(cat.id, cat.data)">
        <img src="assets/images/categories/{{ cat.data.image }}" alt="{{ cat.data.name }}">
        <p>{{ cat.data.name }}</p>
    </div>
</div>

<div id="year" class="year control hidden" (mouseenter)="showYear()" (mouseleave)="hideYear()">
    <div class="btn" (click)="toggleYear()">
        <h2>{{ year }}</h2>
        <h3>{{ formatYear(year) }}</h3>
    </div>
    <button (mousedown)="adjustYear(-1, 20)" (mouseup)="stopAdjusting()" (mouseleave)="stopAdjusting()">&lt;&lt;</button>
    <button (mousedown)="adjustYear(-1, 200)" (mouseup)="stopAdjusting()" (mouseleave)="stopAdjusting()">&lt;</button>
    <input type="range" #ref [value]="year" min="{{ minYear }}" max="{{ maxYear }}" (input)="yearSet(ref.value)">
    <button (mousedown)="adjustYear(1, 200)" (mouseup)="stopAdjusting()" (mouseleave)="stopAdjusting()">&gt;</button>
    <button (mousedown)="adjustYear(1, 20)" (mouseup)="stopAdjusting()" (mouseleave)="stopAdjusting()">&gt;&gt;</button>
</div>