:host {
  position: absolute;
  left: 408px;
  right: 0;
}

#map {
  height: 100vh;
  z-index: 1;
}

.control {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  border: 5px solid lightgray;
  border-radius: 20px;
  left: 45px;
  z-index: 99;
  overflow: hidden;
  display: inline-flex;  
  color: white;
  text-align: center;
  font-weight: 600;
  align-items: center;
}

.categories {
  bottom: 20px;     
}

.year {
  bottom: 162px;
  font-weight: 600;
}

.hidden {
  width: 110px;
}

.year h2 {
  width: 90px;
}

.btn {
  width: 90px;
  padding: 5px;
  margin: 5px;
  order: 0;
}

.btn img {
  width: 40px;
  height: 40px;
  padding: 15px;
  margin-left: 10px;
  background: center url('../../assets/images/shield.png');
  background-size: contain;
}

input {
  margin: 0 10px;
  width: 200px;
}

button {
  height: 20px;
  width: 40px;
  margin: 0 5px;
  background-color: rgba(0,0,0,0);
  color: white;
  font-weight: 900;
  font-size: xx-large;
  line-height: 20px;
}