<div id="resources-button" class="side-button white-box closed" (click)="toggleResources()">
    <img src="assets/images/video.png">
</div>
<div id="resources" class="white-box content-tab hidden">
    <h2 class="tab-header">Videos</h2>
    <div class="video-selector">
        <div class="listing">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Giggles</th>
                    <th>Wows</th>
                    <th>Hmms</th>
                    <th>Watch</th>
                </tr>
                <tr *ngFor="let res of resources">
                    <td class="row-name">{{res.name}}</td>
                    <td>{{res.author}}</td>
                    <td>{{res.giggles}}</td>
                    <td>{{res.wows}}</td>
                    <td>{{res.hmms}}</td>
                    <td *ngIf="auth.user | async as user">
                        <img class="watch-button" (click)="showVideo(res.videoId)" src="assets/images/play.png">
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="selectedId">
            <app-video [id]="selectedId"></app-video>
            <div *ngIf="auth.user | async as user" class="authenticate">
                <app-rating [videoId]="selectedId" userId={{user.uid}}></app-rating>
            </div>
        </div>
    </div>