#resources-button {
  top: 100px;
}

.video-selector {
  display: flex;
  text-align: center;
}

.thumbnails {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.thumbnail {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 30px;
  border: 10px solid lightblue;
}

.viewer {
  flex-direction: column;
  align-items: center;
  width: 50%;
}

youtube-player {
  width: 80%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}
