.info-menu {
  top: 15px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}

h1 {
  padding: 0 10px;
  line-height: 60%;
}

.info img {
  height: 40px;
  padding: 0 10px 0 20px;
}

.account-menu img {
  height: 50px;
  padding-right: 40px;
}

time {
  padding-right: 10px;
  font-style: italic;
}

p {
  padding-right: 20px;
}
