.menu {
  display: flex;
  flex-direction: column;
  z-index: 99;
  background-color: rgb(50, 50, 50);
  position: absolute;
  height: 100%;
  width: 408px;
  padding: 10px;
}

.widget {
  padding: 10px;
  margin: 20px 0;
  border-bottom: 2px solid rgb(252, 178, 41);
  border-top: 2px solid rgb(252, 178, 41);
  /* border-radius: 20px; */
  color: white;
}

.feature-buttons {
  display: flex;
  margin-top: 10px;
}

.feature-button:focus 
{
  outline:0;
}

.feature-button {
  height: 60px;
  width: 80px;
  background: rgb(252, 178, 41) no-repeat center;
  border: 3px solid rgb(252, 178, 41);
  background-size: 50%; 
  margin: 0 5px;
}

.down {
  border: 3px solid rgb(70, 70, 70);
  border-top: 3px solid rgb(252, 178, 41);
}

#user {
  background-image: url('../assets/images/user.png');
}

#video {
  background-image: url('../assets/images/video.png');
}

#quiz {
  background-image: url('../assets/images/quiz.png');
  background-size: 60%; 
}

h1 {
  padding: 10px;
  margin: 20px 0;
  color: white;
  text-align: center;
  border-top: 2px solid rgb(252, 178, 41);
  border-bottom: 2px solid rgb(252, 178, 41);
  /* border-radius: 30px; */
}