.menu {
  display: flex;
  flex-direction: column;
  z-index: 99;
  background-color: rgba(50, 50, 50);
  position: absolute;
  height: 100%;
  width: 408px;
  padding: 10px;
  border-right: 5px solid lightgray;
}

.widget {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}

.feature-buttons {
  display: flex;
  align-content: stretch;
  background-color: white;
  margin-top: 10px;
}

.feature-button {
  flex-grow: 1;
  height: 40px;
  background: no-repeat center;
  background-size: contain; 
}

#user {
  background-image: url('../assets/images/user.png');
}

#video {
  background-image: url('../assets/images/video.png');
}

#quiz {
  background-image: url('../assets/images/quiz.png');
}