<div class="rating giggle">
  <button *ngIf="giggle | async" class="unrate button" (click)="removeRating('giggles')"></button>
  <button *ngIf="!(giggle | async)" class="rate button" (click)="addRating('giggles')"></button>
</div>
<div class="rating wow">
  <button *ngIf="wow | async" class="unrate button" (click)="removeRating('wows')"></button>
  <button *ngIf="!(wow | async)" class="rate button" (click)="addRating('wows')"></button>
</div>
<div class="rating hmm">
  <button *ngIf="hmm | async" class="unrate button" (click)="removeRating('hmms')"></button>
  <button *ngIf="!(hmm | async)" class="rate button" (click)="addRating('hmms')"></button>
</div>