<div *ngIf="auth.user | async; then authenticated else guest" class="authenticate">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
  <div class="user-bar">
    <img class="user-img" src="../../assets/images/user.png">
    <button class="googleLogin" (click)="auth.googleLogin()">LogIn</button>
  </div>
</ng-template>

<ng-template #authenticated>
  <div class="user-bar" *ngIf="auth.user | async as user">
    <img class="user-img" src="{{user.photoURL}}}">
    <p>{{ user.displayName }}</p>
    <button (click)="auth.signOut()"></button>
  </div>
</ng-template>