table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    text-align: center;
}

tr {
    padding: 2px;
    margin-bottom: 5px;
}

.video-row:hover {
    background-color: rgb(252, 178, 41);
    color: rgb(50,50,50);
}


.rating-column {
    width: 30px;
    height: 30px;
}